# Cleaning the Data

My analysis requires data on the gross of each individual movie and the director of that movie, so I will import the dataframes that have that information. Then I will look at the dataframes and identify how I need to clean them for the purpose of my analysis.

In [14]:
# Import libraries needed for analysis
import pandas as pd
import altair as alt
import numpy as np

# Import data files
movies_gross = pd.read_csv('/Users/elisabethcadman/downloads/disney_movies_total_gross.csv')
directors = pd.read_csv('/Users/elisabethcadman/downloads/disney-director.csv')

In [7]:
movies_gross.head()

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485","$5,228,953,251"
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000","$2,188,229,052"
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000","$2,187,090,808"
3,Song of the South,"Nov 12, 1946",Adventure,G,"$65,000,000","$1,078,510,579"
4,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000","$920,608,730"

In [8]:
directors.head()

                              name        director
0  Snow White and the Seven Dwarfs      David Hand
1                        Pinocchio  Ben Sharpsteen
2                         Fantasia    full credits
3                            Dumbo  Ben Sharpsteen
4                            Bambi      David Hand

My analysis requires that I group the films in descending order according to their inflation adjusted gross, in order to determined which director directed the highest grossing film. I can see here that I need to convert the Dtype of the column 'inflation_adjusted_gross' from object to float in order to sort them.

In [9]:
movies_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_title               579 non-null    object
 1   release_date              579 non-null    object
 2   genre                     562 non-null    object
 3   MPAA_rating               523 non-null    object
 4   total_gross               579 non-null    object
 5   inflation_adjusted_gross  579 non-null    object
dtypes: object(6)
memory usage: 27.3+ KB

In [10]:
directors.shape

(56, 2)

I want to combine the two dataframes to match up the director with each film and how much that film grossed.

In [11]:
# merge the two dataframes 
movies = movies_gross.merge(directors, left_on='movie_title', right_on='name', how='inner') 
movies

,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,name,director
0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485","$5,228,953,251",Snow White and the Seven Dwarfs,David Hand
1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000","$2,188,229,052",Pinocchio,Ben Sharpsteen
2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000","$2,187,090,808",Fantasia,full credits
3,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000","$920,608,730",Cinderella,Wilfred Jackson
4,Cinderella,"Mar 13, 2015",Drama,PG,"$201,151,353","$201,151,353",Cinderella,Wilfred Jackson
5,Lady and the Tramp,"Jun 22, 1955",Drama,G,"$93,600,000","$1,236,035,515",Lady and the Tramp,Hamilton Luske
6,Sleeping Beauty,"Jan 29, 1959",Drama,NaN,"$9,464,608","$21,505,832",Sleeping Beauty,Clyde Geronimi
7,101 Dalmatians,"Jan 25, 1961",Comedy,G,"$153,000,000","$1,362,870,985",101 Dalmatians,Wolfgang Reitherman
8,101 Dalmatians,"Nov 27, 1996",Comedy,G,"$136,189,294","$258,728,898",101 Dalmatians,Wolfgang Reitherman
9,The Sword in the Stone,"Dec 25, 1963",Adventure,NaN,"$22,182,353","$153,870,834",The Sword in the Stone,Wolfgang Reitherman
10,The Jungle Book,"Oct 18, 1967",Musical,Not Rated,"$141,843,000","$789,612,346",The Jungle Book,Wolfgang Reitherman
11,The Jungle Book,"Dec 25, 1994",Adventure,PG,"$44,342,956","$88,930,321",The Jungle Book,Wolfgang Reitherman
12,The Jungle Book,"Apr 15, 2016",Adventure,PG,"$364,001,123","$364,001,123",The Jungle Book,Wolfgang Reitherman
13,The Aristocats,"Apr 24, 1970",Musical,G,"$55,675,257","$255,161,499",The Aristocats,Wolfgang Reitherman
14,The Many Adventures of Winnie the Pooh,"Mar 11, 1977",NaN,NaN,$0,$0,The Many Adventures of Winnie the Pooh,Wolfgang Reitherman
15,The Rescuers,"Jun 22, 1977",Adventure,NaN,"$48,775,599","$159,743,914",The Rescuers,Wolfgang Reitherman
16,The Fox and the Hound,"Jul 10, 1981",Comedy,NaN,"$43,899,231","$133,118,889",The Fox and the Hound,Art Stevens
17,The Black Cauldron,"Jul 24, 1985",Adventure,NaN,"$21,288,692","$50,553,142",The Black Cauldron,Ted Berman
18,The Great Mouse Detective,"Jul 2, 1986",Adventure,NaN,"$23,605,534","$53,637,367",The Great Mouse Detective,Ron Clements
19,Oliver & Company,"Nov 18, 1988",Adventure,G,"$49,576,671","$102,254,492",Oliver & Company,George Scribner
20,The Little Mermaid,"Nov 15, 1989",Adventure,G,"$111,543,479","$223,726,012",The Little Mermaid,Ron Clements
21,The Rescuers Down Under,"Nov 16, 1990",Adventure,G,"$27,931,461","$55,796,728",The Rescuers Down Under,Mike Gabriel
22,Beauty and the Beast,"Nov 13, 1991",Musical,G,"$218,951,625","$363,017,667",Beauty and the Beast,Gary Trousdale
23,Aladdin,"Nov 11, 1992",Comedy,G,"$217,350,219","$441,969,178",Aladdin,Ron Clements
24,The Lion King,"Jun 15, 1994",Adventure,G,"$422,780,140","$761,640,898",The Lion King,Roger Allers
25,Pocahontas,"Jun 10, 1995",Adventure,G,"$141,579,773","$274,370,957",Pocahontas,Mike Gabriel
26,The Hunchback of Notre Dame,"Jun 21, 1996",Adventure,G,"$100,138,851","$190,988,799",The Hunchback of Notre Dame,Gary Trousdale
27,Hercules,"Jun 13, 1997",Adventure,G,"$99,112,101","$182,029,412",Hercules,Ron Clements
28,Mulan,"Jun 19, 1998",Adventure,G,"$120,620,254","$216,807,832",Mulan,Barry Cook
29,Tarzan,"Jun 16, 1999",Adventure,G,"$171,091,819","$283,900,254",Tarzan,Chris Buck
30,Dinosaur,"May 19, 2000",Adventure,PG,"$137,748,063","$215,438,985",Dinosaur,Ralph Zondag
31,The Emperor's New Groove,"Dec 15, 2000",Adventure,G,"$89,296,573","$136,789,252",The Emperor's New Groove,Mark Dindal
32,Atlantis: The Lost Empire,"Jun 8, 2001",Adventure,PG,"$84,052,762","$125,188,122",Atlantis: The Lost Empire,Gary Trousdale
33,Lilo & Stitch,"Jun 21, 2002",Adventure,PG,"$145,771,527","$211,506,702",Lilo & Stitch,Chris Sanders
34,Treasure Planet,"Nov 27, 2002",Adventure,PG,"$38,120,554","$55,189,145",Treasure Planet,Ron Clements
35,Brother Bear,"Oct 24, 2003",Adventure,G,"$85,336,277","$119,218,333",Brother Bear,Robert Walker
36,Home on the Range,"Apr 2, 2004",Comedy,PG,"$50,026,353","$67,910,166",Home on the Range,Will Finn
37,Chicken Little,"Nov 4, 2005",Adventure,G,"$135,386,665","$177,954,661",Chicken Little,Mark Dindal
38,Meet the Robinsons,"Mar 30, 2007",Adventure,G,"$97,822,171","$119,860,589",Meet the Robinsons,Stephen J. Anderson
39,Bolt,"Nov 21, 2008",Comedy,PG,"$114,053,759","$133,702,498",Bolt,Chris Williams
40,The Princess and the Frog,"Nov 25, 2009",Adventure,G,"$104,400,899","$116,316,457",The Princess and the Frog,Ron Clements
41,Alice in Wonderland,"Mar 5, 2010",Adventure,PG,"$334,191,110","$357,063,499",Alice in Wonderland,Clyde Geronimi
42,Tangled,"Nov 24, 2010",Adventure,PG,"$200,821,936","$214,388,548",Tangled,Nathan Greno
43,Winnie the Pooh,"Jul 15, 2011",Adventure,G,"$26,692,846","$28,375,869",Winnie the Pooh,Stephen J. Anderson
44,Wreck-It Ralph,"Nov 2, 2012",Adventure,PG,"$189,412,677","$200,354,959",Wreck-It Ralph,Rich Moore
45,Frozen,"Nov 22, 2013",Adventure,PG,"$400,738,009","$414,997,174",Frozen,Chris Buck
46,Big Hero 6,"Nov 7, 2014",Adventure,PG,"$222,527,828","$229,249,222",Big Hero 6,Don Hall
47,Zootopia,"Mar 4, 2016",Adventure,PG,"$341,268,248","$341,268,248",Zootopia,Byron Howard
48,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029","$246,082,029",Moana,Ron Clements

In order to convert the inflation_adjusted_gross column from Dtype object to float, I have to remove the '$' and the ',' in that column. Then I convert the column to float and sort the values in descending order to determine who directed the highest grossing film.

In [12]:
# convert inflation_adjusted_gross column to datatype float and sort from highest to lowest grossing
movies = movies.assign(inflation_adjusted_gross=movies['inflation_adjusted_gross']
                      .replace( '[\$,)]','', regex=True )
                      .replace( '[(]','-',   regex=True ).astype(float)).sort_values(by='inflation_adjusted_gross', ascending=False)
movies = movies.reset_index()
movies

,index,movie_title,release_date,genre,MPAA_rating,total_gross,inflation_adjusted_gross,name,director
0,0,Snow White and the Seven Dwarfs,"Dec 21, 1937",Musical,G,"$184,925,485",5.228953e+09,Snow White and the Seven Dwarfs,David Hand
1,1,Pinocchio,"Feb 9, 1940",Adventure,G,"$84,300,000",2.188229e+09,Pinocchio,Ben Sharpsteen
2,2,Fantasia,"Nov 13, 1940",Musical,G,"$83,320,000",2.187091e+09,Fantasia,full credits
3,7,101 Dalmatians,"Jan 25, 1961",Comedy,G,"$153,000,000",1.362871e+09,101 Dalmatians,Wolfgang Reitherman
4,5,Lady and the Tramp,"Jun 22, 1955",Drama,G,"$93,600,000",1.236036e+09,Lady and the Tramp,Hamilton Luske
5,3,Cinderella,"Feb 15, 1950",Drama,G,"$85,000,000",9.206087e+08,Cinderella,Wilfred Jackson
6,10,The Jungle Book,"Oct 18, 1967",Musical,Not Rated,"$141,843,000",7.896123e+08,The Jungle Book,Wolfgang Reitherman
7,24,The Lion King,"Jun 15, 1994",Adventure,G,"$422,780,140",7.616409e+08,The Lion King,Roger Allers
8,23,Aladdin,"Nov 11, 1992",Comedy,G,"$217,350,219",4.419692e+08,Aladdin,Ron Clements
9,45,Frozen,"Nov 22, 2013",Adventure,PG,"$400,738,009",4.149972e+08,Frozen,Chris Buck
10,12,The Jungle Book,"Apr 15, 2016",Adventure,PG,"$364,001,123",3.640011e+08,The Jungle Book,Wolfgang Reitherman
11,22,Beauty and the Beast,"Nov 13, 1991",Musical,G,"$218,951,625",3.630177e+08,Beauty and the Beast,Gary Trousdale
12,41,Alice in Wonderland,"Mar 5, 2010",Adventure,PG,"$334,191,110",3.570635e+08,Alice in Wonderland,Clyde Geronimi
13,47,Zootopia,"Mar 4, 2016",Adventure,PG,"$341,268,248",3.412682e+08,Zootopia,Byron Howard
14,29,Tarzan,"Jun 16, 1999",Adventure,G,"$171,091,819",2.839003e+08,Tarzan,Chris Buck
15,25,Pocahontas,"Jun 10, 1995",Adventure,G,"$141,579,773",2.743710e+08,Pocahontas,Mike Gabriel
16,8,101 Dalmatians,"Nov 27, 1996",Comedy,G,"$136,189,294",2.587289e+08,101 Dalmatians,Wolfgang Reitherman
17,13,The Aristocats,"Apr 24, 1970",Musical,G,"$55,675,257",2.551615e+08,The Aristocats,Wolfgang Reitherman
18,48,Moana,"Nov 23, 2016",Adventure,PG,"$246,082,029",2.460820e+08,Moana,Ron Clements
19,46,Big Hero 6,"Nov 7, 2014",Adventure,PG,"$222,527,828",2.292492e+08,Big Hero 6,Don Hall
20,20,The Little Mermaid,"Nov 15, 1989",Adventure,G,"$111,543,479",2.237260e+08,The Little Mermaid,Ron Clements
21,28,Mulan,"Jun 19, 1998",Adventure,G,"$120,620,254",2.168078e+08,Mulan,Barry Cook
22,30,Dinosaur,"May 19, 2000",Adventure,PG,"$137,748,063",2.154390e+08,Dinosaur,Ralph Zondag
23,42,Tangled,"Nov 24, 2010",Adventure,PG,"$200,821,936",2.143885e+08,Tangled,Nathan Greno
24,33,Lilo & Stitch,"Jun 21, 2002",Adventure,PG,"$145,771,527",2.115067e+08,Lilo & Stitch,Chris Sanders
25,4,Cinderella,"Mar 13, 2015",Drama,PG,"$201,151,353",2.011514e+08,Cinderella,Wilfred Jackson
26,44,Wreck-It Ralph,"Nov 2, 2012",Adventure,PG,"$189,412,677",2.003550e+08,Wreck-It Ralph,Rich Moore
27,26,The Hunchback of Notre Dame,"Jun 21, 1996",Adventure,G,"$100,138,851",1.909888e+08,The Hunchback of Notre Dame,Gary Trousdale
28,27,Hercules,"Jun 13, 1997",Adventure,G,"$99,112,101",1.820294e+08,Hercules,Ron Clements
29,37,Chicken Little,"Nov 4, 2005",Adventure,G,"$135,386,665",1.779547e+08,Chicken Little,Mark Dindal
30,15,The Rescuers,"Jun 22, 1977",Adventure,NaN,"$48,775,599",1.597439e+08,The Rescuers,Wolfgang Reitherman
31,9,The Sword in the Stone,"Dec 25, 1963",Adventure,NaN,"$22,182,353",1.538708e+08,The Sword in the Stone,Wolfgang Reitherman
32,31,The Emperor's New Groove,"Dec 15, 2000",Adventure,G,"$89,296,573",1.367893e+08,The Emperor's New Groove,Mark Dindal
33,39,Bolt,"Nov 21, 2008",Comedy,PG,"$114,053,759",1.337025e+08,Bolt,Chris Williams
34,16,The Fox and the Hound,"Jul 10, 1981",Comedy,NaN,"$43,899,231",1.331189e+08,The Fox and the Hound,Art Stevens
35,32,Atlantis: The Lost Empire,"Jun 8, 2001",Adventure,PG,"$84,052,762",1.251881e+08,Atlantis: The Lost Empire,Gary Trousdale
36,38,Meet the Robinsons,"Mar 30, 2007",Adventure,G,"$97,822,171",1.198606e+08,Meet the Robinsons,Stephen J. Anderson
37,35,Brother Bear,"Oct 24, 2003",Adventure,G,"$85,336,277",1.192183e+08,Brother Bear,Robert Walker
38,40,The Princess and the Frog,"Nov 25, 2009",Adventure,G,"$104,400,899",1.163165e+08,The Princess and the Frog,Ron Clements
39,19,Oliver & Company,"Nov 18, 1988",Adventure,G,"$49,576,671",1.022545e+08,Oliver & Company,George Scribner
40,11,The Jungle Book,"Dec 25, 1994",Adventure,PG,"$44,342,956",8.893032e+07,The Jungle Book,Wolfgang Reitherman
41,36,Home on the Range,"Apr 2, 2004",Comedy,PG,"$50,026,353",6.791017e+07,Home on the Range,Will Finn
42,21,The Rescuers Down Under,"Nov 16, 1990",Adventure,G,"$27,931,461",5.579673e+07,The Rescuers Down Under,Mike Gabriel
43,34,Treasure Planet,"Nov 27, 2002",Adventure,PG,"$38,120,554",5.518914e+07,Treasure Planet,Ron Clements
44,18,The Great Mouse Detective,"Jul 2, 1986",Adventure,NaN,"$23,605,534",5.363737e+07,The Great Mouse Detective,Ron Clements
45,17,The Black Cauldron,"Jul 24, 1985",Adventure,NaN,"$21,288,692",5.055314e+07,The Black Cauldron,Ted Berman
46,43,Winnie the Pooh,"Jul 15, 2011",Adventure,G,"$26,692,846",2.837587e+07,Winnie the Pooh,Stephen J. Anderson
47,6,Sleeping Beauty,"Jan 29, 1959",Drama,NaN,"$9,464,608",2.150583e+07,Sleeping Beauty,Clyde Geronimi
48,14,The Many Adventures of Winnie the Pooh,"Mar 11, 1977",NaN,NaN,$0,0.000000e+00,The Many Adventures of Winnie the Pooh,Wolfgang Reitherman

Now I will clean up the dataframe by removing the extra index columns and slicing the dataframe to only include the top 20 grossing films, which is what I'm looking at for my analysis.

In [13]:
# filter for the relevant data
movies = movies.loc[:20, ['movie_title', 'director', 'inflation_adjusted_gross']]
movies

,movie_title,director,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,David Hand,5.228953e+09
1,Pinocchio,Ben Sharpsteen,2.188229e+09
2,Fantasia,full credits,2.187091e+09
3,101 Dalmatians,Wolfgang Reitherman,1.362871e+09
4,Lady and the Tramp,Hamilton Luske,1.236036e+09
5,Cinderella,Wilfred Jackson,9.206087e+08
6,The Jungle Book,Wolfgang Reitherman,7.896123e+08
7,The Lion King,Roger Allers,7.616409e+08
8,Aladdin,Ron Clements,4.419692e+08
9,Frozen,Chris Buck,4.149972e+08
10,The Jungle Book,Wolfgang Reitherman,3.640011e+08
11,Beauty and the Beast,Gary Trousdale,3.630177e+08
12,Alice in Wonderland,Clyde Geronimi,3.570635e+08
13,Zootopia,Byron Howard,3.412682e+08
14,Tarzan,Chris Buck,2.839003e+08
15,Pocahontas,Mike Gabriel,2.743710e+08
16,101 Dalmatians,Wolfgang Reitherman,2.587289e+08
17,The Aristocats,Wolfgang Reitherman,2.551615e+08
18,Moana,Ron Clements,2.460820e+08
19,Big Hero 6,Don Hall,2.292492e+08
20,The Little Mermaid,Ron Clements,2.237260e+08

Here's a visualization of the gross earnings of the top 20 films. I can see that Snow White and the Seven Dwarfs is the highest grossing Disney film by more than 2x! This leads me to believe that the director of this film (David Hand) could definitely be the highest grossing Disney director.

In [15]:
movies_gross_plot = (alt.Chart(movies, width=500, height=300)
                    .mark_bar()
                    .encode(
                        x=alt.X('movie_title:N', sort='y', title='Movie Title'),
                        y=alt.Y('inflation_adjusted_gross:Q', title='Gross Earnings(Inflation Adjusted)'),
                    ).properties(title='Disney Movies Gross Earnings')
                    )
movies_gross_plot

alt.Chart(...)

Now for the next step in my analysis, I will use a function to determine the average gross earnings of the films of each director in the top 20.